@charset "utf-8";
/* CSS Document */

/* 未能缩小。正在返回未缩小的内容。
(190,242): run-time error CSS1036: Expected expression, found ';'
(190,270): run-time error CSS1062: Expected semicolon or closing curly-brace, found ')'
(191,185): run-time error CSS1036: Expected expression, found ';'
(191,213): run-time error CSS1062: Expected semicolon or closing curly-brace, found ')'
(228,189): run-time error CSS1036: Expected expression, found ';'
(228,217): run-time error CSS1062: Expected semicolon or closing curly-brace, found ')'
(240,119): run-time error CSS1035: Expected colon, found '}'
 */

/*
* 重写或新增Amui样式 
*/

/*基础重写*/
body,a,span,p,b,div,strong,li{ font-style:normal;}
[class="am-col"] + [class="am-col"]:last-child, [class^="col-"] + [class^="col-"]:last-child{ float:left;}

/*导航控制点重写*/
.am-slider-default .am-control-nav li a{ box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset;}
.am-slider-default .am-control-nav{bottom:10px;}
#IndexProductSlider .am-control-nav{bottom:-15px;}

/*选项卡样式重写*/
.am-nav-tabs.am-nav-justify > li { width:25%; float:left;}
.am-nav-tabs.am-nav-justify > li > a{ color:#767676; font-size:1.8rem; text-align:center; padding:10px 0; border:none;border-bottom:2px solid #F5F5F5; width:100%; display:inline-table; }
.am-nav-tabs.am-nav-justify > li > a:hover,.am-nav-tabs.am-nav-justify > li > a:focus{border-bottom:2px solid #EEE;}
.am-nav-tabs.am-nav-justify > .am-active > a, .am-nav-tabs.am-nav-justify > .am-active > a:hover, .am-nav-tabs.am-nav-justify > .am-active > a:focus{ color:#f14739; border:none; border-bottom:2px solid #f9685c;blr:expression(this.onFocus=this.blur()); -moz-outline-style: none;}
.am-tabs-bd{border:none;}
.am-tabs-bd .am-tab-panel{padding:0px;}
.am-nav-tabs.am-nav-justify > li > a{ border-radius:3px 3px 0 0; margin-bottom:1px;}
.am-slider-default{border-radius:0px;box-shadow:none;}
.am-slider-default .am-control-nav li a{filter:alpha(opacity=50);opacity:0.50;-moz-opacity:0.50; background:none repeat scroll 0 0 #FFFFFF; width:10px; height:10px;}
.am-slider-default .am-control-nav li a.am-active{filter:alpha(opacity=100);opacity:1.00;-moz-opacity:1.0; background:none repeat scroll 0 0 #FFFFFF;}

#IndexProductSlider .am-control-nav li a{box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;}
#IndexProductSlider .am-control-nav li a.am-active{background:none repeat scroll 0 0 #FA6E61;box-shadow: 0 0 0px rgba(0, 0, 0, 0.3) inset;}
#IndexNewsTabs { margin:10px 0 0 0;}
#IndexNewsTabs .am-nav-tabs.am-nav-justify > li { width:33.3%; float:left; padding:0 2%;}
#IndexNewsTabs .am-nav-tabs.am-nav-justify > li > a{ color:#4f4f4f; font-size:1.8rem; text-align:center; padding:5px 0; border:none;border:1px solid #c8c8c8; width:100%; display:inline-table; border-radius:0;}
#IndexNewsTabs .am-nav-tabs.am-nav-justify > .am-active > a,#IndexNewsTabs  .am-nav-tabs.am-nav-justify > .am-active > a:hover,#IndexNewsTabs  .am-nav-tabs.am-nav-justify > .am-active > a:focus{ color:#7ead23; border:none; border:1px solid #7ead23;blr:expression(this.onFocus=this.blur()); -moz-outline-style: none;}

/*新增按钮*/
.am-btn-green {color: #ffffff;background-color: #9ecc45;border-color: #9ecc45;position:relative;font-size:1.8rem; border-radius:5px;}
.am-btn-green:hover,.am-btn-green:focus,.am-btn-green:active,.am-btn-green.am-active,.am-active .am-dropdown-toggle.am-btn-green {color: #ffffff;background-color: #8bb43d;border-color: #8bb43d;}
.am-btn-green:active,.am-btn-green.am-btn-active,.am-active .am-dropdown-toggle.am-btn-green {background-image: none;}
.am-btn-green.am-disabled,.am-btn-green[disabled],fieldset[disabled] .am-btn-green,.am-btn-green.am-disabled:hover,.am-btn-green[disabled]:hover,fieldset[disabled] .am-btn-green:hover,.am-btn-green.am-disabled:focus,.am-btn-green[disabled]:focus,fieldset[disabled] .am-btn-green:focus,.am-btn-green.am-disabled:active,.am-btn-green[disabled]:active,fieldset[disabled] .am-btn-green:active,.am-btn-green.am-disabled.am-btn-active,.am-btn-green[disabled].am-btn-active,fieldset[disabled] .am-btn-green.am-btn-active {background-color: #999999;border-color: #999999;}/*background-color: #0e90d2;border-color: #0c80ba;*/
.am-btn-green i{ position:absolute; background:url(../image/icon.png) -272px 0 no-repeat; width:27px; height:27px; right:3%; top:10px;}

.am-btn-yellow {color: #ffffff;background-color: #fdb537;border-color: #fdb537;position:relative;font-size:1.8rem; border-radius:5px;}
.am-btn-yellow:hover,.am-btn-yellow:focus,.am-btn-yellow:active,.am-btn-yellow.am-active,.am-active .am-dropdown-toggle.am-btn-yellow {color: #ffffff;background-color: #fd9e25;border-color: #fd9e25;}
.am-btn-yellow:active,.am-btn-yellow.am-btn-active,.am-active .am-dropdown-toggle.am-btn-yellow {background-image: none;}
.am-btn-yellow.am-disabled,.am-btn-yellow[disabled],fieldset[disabled] .am-btn-yellow,.am-btn-yellow.am-disabled:hover,.am-btn-yellow[disabled]:hover,fieldset[disabled] .am-btn-yellow:hover,.am-btn-yellow.am-disabled:focus,.am-btn-yellow[disabled]:focus,fieldset[disabled] .am-btn-yellow:focus,.am-btn-yellow.am-disabled:active,.am-btn-yellow[disabled]:active,fieldset[disabled] .am-btn-yellow:active,.am-btn-yellow.am-disabled.am-btn-active,.am-btn-yellow[disabled].am-btn-active,fieldset[disabled] .am-btn-yellow.am-btn-active {background-color: #999999;border-color: #999999;}/*background-color: #D4D4D4;border-color: #D4D4D4;*/

.am-btn-success{ border-color:1px solid #9ecc45; color:#8a8a8a;background-color: #FFF;position:relative;font-size:1.8rem; border-radius:5px;}
.am-btn-success i{ background:url(../image/icon.png) -132px -150px no-repeat; position:absolute;width:32px; left:14%; top:10px; height:26px;}
.am-btn-success:hover,.am-btn-success:focus,.am-btn-success:active,.am-btn-success.am-active,.am-active .am-dropdown-toggle.am-btn-success {color: #000; background-color:#FFF;}
/*重写弹窗*/
.am-modal-dialog{ background:#000;}
.am-modal-hd{ color:#FFF;}
.am-modal-bd{ color:#FFF;}
.am-modal-btn{ color:#FFF;}
.am-modal-btn:hover,.am-modal-btn:active{ color:#ff4c4c;}

/*
* Common
*/
ul,li{list-style:none;}
a:hover{ color:#ccc;}

.dn{ display:none;}
.w20{ width:20%;}
.w15{ width:15%;}
.fl{ float:left;}
.fr{ float:right;}
.mt20{ margin-top:20px;}
.pd0{ padding:0px;}
.pb100{ padding-bottom:100px;}
.color-red{ color:#f25346;}
.color-black{ color:#000;}

.body-grey{ background:#d6d6d6;}

.touchSel{filter:alpha(opacity=60);opacity:0.60;-moz-opacity:0.60; background:none repeat scroll 0 0 #FFFFFF;}

/*
* Header
*/
.logo{ float:left; margin:10px 0 0 0; width:58%; padding:0 2%;}
.logo h1{ margin:0px; padding:0px;}
.logo img{ max-width:150px;}
.header-info{ float:right; margin:8px 5px 0 0; padding:0;}
.header-info a{color:#4b4b4b; width:100%; text-align:center; line-height:25px; float:right;font-size:1.3rem;}
.header-info a img{ max-width:24px;}

/*
* Index
*/
.index-service{ border-bottom:1px solid #aaaaaa;}
.icon-service{ text-align:center; width:100%; color:#7e7e7e; line-height:20px; display:block; margin:10px 0;}
.icon-service img{ max-width:60px; margin:0 0 5px 0;}
 
.index-content{ width:100%;background-color:#f9f9f9; float:left;border-bottom:1px solid #ccc; padding-bottom:50px; /*padding-bottom:50px;*/ padding-top:0px;}
.index-product{width:100%; border-radius:5px; background:#FFF; /*margin:15px 0 0 0; */float:left; }
.index-product-title{ width:100%; padding: 0 10px; float:left; height:40px; line-height:40px; position:relative;border-bottom:1px solid #a0a0a0;border-top:1px solid #ccc;}
.index-product-title b{ color:#f14739; position:absolute; line-height:38px; border-bottom:1px solid #f14739; font-weight:normal; padding:0 5px; font-size:1.8rem;}
.index-product-title a{ color:#5c5c5c; float:right;}
.index-product-photo{width:100%; float:left; }
.index-product-photo img{ width:100%; }
.index-product-info{ width:100%; float:left; padding:0 10px;}
.index-product-info ul{ width:100%; border:1px solid #ccc; border-radius:5px; float:left; padding:5px; margin:10px 0;}
.index-product-info li{ width:100%; float:left; padding:5px 0; border-bottom:1px solid #ccc;}
.index-product-info li table{ width:100%;}
.index-product-info li .icon-product{ padding:10px 5px; text-align:center; width: 16.66667%;}
.index-product-info li .icon-product img{ width:100%; max-width:25px;}
.index-product-info li .text-product {padding:2px 0 2px 10px; float:left; border-left:1px solid #ccc; width:100%; margin:5px 0;}
.index-product-info li .text-product b{ color:#545454; font-weight:normal; }
.index-product-info li .text-product p{ color:#9c9c9c; padding:0; margin:0; font-size:1.5rem; line-height:20px; text-indent:0px;}
.index-product-alert{ font-size:1.4rem; color:#f8ad4d; width:100%; text-align:center; padding:10px 0;}


/*
* Footer
*/
.footer{ width:100%;background-color:#f9f9f9; float:left;}
.footer-nav{ width:100%; text-align:center; padding:20px 0 10px 0;display:inline-table; border-bottom:1px solid #d5d5d5;}
.footer-nav a{color:#7e7e7e; font-size:1.4rem; padding:0 1% 0 2%; }
.footer-nav .color-tel { color:#fa6d61; font-weight:bold; padding:0px;}
.footer-nav .color-tel img{ width:100%; max-width:12px; display:inline-table; margin:-5px 0 0 0;}
.footer-edition{ width:100%; padding:10px 0; text-align:center;}
.footer-edition a{color:#7e7e7e; font-size:1.3rem; padding:0 3%; }
.footer-copyRight{ padding:10px 0; background-color:#FFF; text-align:center; color:#7e7e7e;}
.footer-copyRight span,.footer-copyRight p, .footer-copyRight b,.footer-copyRight div,.footer-copyRight a{color:#7e7e7e;}

/*
* Header Menu
*/
.header-menu-box{height:53px; position:relative; float:left; width:100%;}
.header-menu{ height:53px; width:100%; background:#e73628; text-align:center; position:fixed; z-index:9001;top:0px; left:0px;}
.header-menu h2{ color:#FFF; font-weight:normal; margin:0; padding:0px; line-height:53px;}
.header-menu .info-prev{  height:53px;position:absolute;  z-index:1002;}
.header-menu .info-prev a{padding:15px 20px 15px 10px; float:left;}
.header-menu .info-prev .icon-prev{background:url(../image/icon.png) 0 0 no-repeat; width:15px; height:24px; float:left;}
.header-menu .info-prev .touchSel{ background:none;}
.header-menu .info-menu{ position:absolute; right:0px; top:0px; z-index:1002;}
.header-menu .info-menu .link-first{ float:left; color:#FFF; line-height:20px; font-size:1.3rem; width:40px; text-align:center;}
.header-menu .info-menu a{padding:10px 0px 3px 0px; float:left;}
.header-menu .info-menu .icon-menu{width:23px; height:18px;background:url(../image/icon.png) -15px 0px no-repeat;float:right;margin-right:8px}
.header-menu .info-menu .icon-tel{ width:23px; height:18px;background:url(../image/icon.png) -39px 0px no-repeat;float:right;margin-right:8px }
.header-menu .info-menu .touchSel{ background:none;}
.info-menu-sub{ width:105px; position:absolute; left:-35px; top:38px; display:none; z-index:1002;}
.menu-sub-top{ background:url(../image/icon.png) 0px -591px no-repeat; width:105px; height:9px; float:left;}
.menu-sub-info{filter:alpha(opacity=80);opacity:0.80;-moz-opacity:0.80; background-color:#000; border-radius:0 0 3px 3px; float:left; width:105px;}
.menu-sub-info ul{ width:90px; padding:0 6px; float:left; margin:0;}
.menu-sub-info li{ width:90px; float:left; border-bottom:1px solid #9d9d9d; }
.menu-sub-info .li-frist{}
.menu-sub-info li a{ color:#FFF; float:left; width:100%; font-size:1.3rem; padding:8px 0; text-align:left;}
.menu-sub-info li i{background:url(../image/icon.png) no-repeat; width:21px; height:20px; margin:1px 5px 0 5px; float:left;}
.menu-sub-info li .icon-home{ background-position:-61px 0px;}
.menu-sub-info li .icon-apply{ background-position:-81px 0px;}
.menu-sub-info li .icon-condition{ background-position:-100px 0px;}
.menu-sub-info li .icon-flow{ background-position:-120px 0px;}
.menu-sub-info li .icon-help{ background-position:-141px 0px;}
.menu-sub-info li .icon-about{ background-position:-181px 0px;}
.menu-sub-info .a_sel,.menu-sub-info .touchSel{ color:#ffb759;}
.menu-sub-info .a_sel .icon-home,.menu-sub-info .touchSel .icon-home{ background-position:-61px -20px;}
.menu-sub-info .a_sel .icon-apply,.menu-sub-info .touchSel .icon-apply{ background-position:-81px -20px;}
.menu-sub-info .a_sel .icon-apply,.menu-sub-info .touchSel .icon-apply{ background-position:-81px -20px;}
.menu-sub-info .a_sel .icon-condition,.menu-sub-info .touchSel .icon-condition{ background-position:-100px -20px;}
.menu-sub-info .a_sel .icon-flow,.menu-sub-info .touchSel .icon-flow{ background-position:-120px -20px;}
.menu-sub-info .a_sel .icon-help,.menu-sub-info .touchSel .icon-help{ background-position:-141px -20px;}
.menu-sub-info .a_sel .icon-about,.menu-sub-info .touchSel .icon-about{ background-position:-181px -20px;}

/*
* Login
*/
#ApplyTabs .am-tabs-nav li{ width:50%;}
#ApplyTabs .am-tabs-bd .am-tab-panel{padding:10px 0;}

.apply-title{ width:100%; height:38px; line-height:38px; padding:0 10px; background-color:#e8e8e8; float:left;font-size:11pt;}
.apply-title b{ color:#797979; font-weight:normal;}

.apply-content{ width:100%; float:left;}
.apply-content .apply-title{ background:#FFF;}
.apply-form{ width:100%; padding:0 10px; float:left; margin:0 0 20px 0;}
.apply-form ul{margin:0px;padding:0px;}
.apply-form .form-li{ width:100%; border:1px solid #ccc; border-radius:3px; padding:10px 0; float:left; margin:10px 0 0 0; position:relative;}
.apply-form .form-key{ width:35%; padding:0 3%; border-right:1px solid #ccc; height:30px; line-height:30px; float:left; text-align:right;}
.apply-form .form-value{ width:65%; float:left; padding:0 3%; position:relative;line-height:30px; color:#797979;}
.apply-form .form-value-special{ width:32%;float:left; padding:0 2% 0 0; position:relative;line-height:30px; color:#797979;}
.apply-form .form-value-tel{ float:right; width:183px; padding:0;}
.apply-form .input-text{ background:none; border:none; color:#1a1a1a; width:100%; height:30px; line-height:30px; float:left; margin:0px; padding:0px;}


.apply-form .wh{ width:60%; background:url(../image/icons1.png) no-repeat; background-position:right; }

.apply-form .input-text-02{background:none; border:none; color:#333; width:90%; height:30px; line-height:30px; float:left;margin:0px; padding:0px;}
.apply-form .input-area{background:none; border:none; color:#333; width:40px; height:30px; line-height:30px;margin:0px; padding:0px;}
.apply-form .input-tel{background:none; border:none; color:#333; width:65%; height:30px; line-height:30px;margin:0px; padding:0px;}
.apply-form .input-companyArea{background:none; border:none; color:#1a1a1a; width:38px; height:30px; line-height:30px; text-align:left;margin:0px; padding:0px;}
.apply-form .input-companyTel{background:none; border:none; color:#1a1a1a; width:72px; height:30px; line-height:30px; text-align:left;margin:0px; padding:0px;}
.apply-form .input-companyTelExtension{background:none; border:none; color:#1a1a1a; width:32px; height:30px; line-height:30px; text-align:left;margin:0px; padding:0px;}
.apply-form .select-name{ height:30px; line-height:30px; cursor:pointer;color:#bfbfbf; float:left; width:100%;white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url("ellipsis.xml#ellipsis";);overflow:hidden; }
.apply-form .select-name span{ width:90%; float:left;white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url("ellipsis.xml#ellipsis";);overflow:hidden; color:#999;}
.apply-form .icon-arrows{background:url(../image/icon.png) -43px -18px no-repeat; width:13px; height:12px; float:right; margin:10px 0 0 0;}
.apply-form .form-value-special  .select-name span{ width:85%;}
.apply-form .am-dropdown-content{ top:35px; right:auto; width:100%; height:200px; overflow:auto; border-radius:5px; left:0px; position:absolute;}
.apply-form .am-dropdown-content a{ font-size:1.3rem;}
.apply-form .am-dropdown-content:before{left:10%;}
.apply-form .form-other{ float:right; color:#333;}
.apply-form .form-value-special .select-name{ text-align:center;}
.apply-form-more{ width:100%; float:left; padding:5px 0;}
.apply-form-more .forget-info{ float:left;}
.apply-form-more .forget-info a{ color:#9ECC45; text-decoration:underline;}
.apply-form-more .remember-info{ float:right;}
.apply-form-more .remember-info #login-remember{ width:15px; height:15px; border:none; vertical-align:sub;}
.apply-form-more .remember-info label{color:#9ECC45; font-weight:normal; font-size:1.6rem; cursor:pointer;}
.alert-box{ z-index: 999; min-width: 160px;padding:10px 15px;text-align: left;background-color: #000;border: 1px solid #dddddd;border-radius: 5px; background-clip: padding-box;filter:alpha(opacity=60);opacity:0.60;-moz-opacity:0.60; position:absolute; top:35px; color:#FFF; font-size:1.5rem; display:none; line-height:20px;}
.alert-box:before {content: "";position: absolute;top: -8px;left: 45%;display: inline-block;width: 0;height: 0;vertical-align: middle;border-bottom: 8px solid #000;border-right: 8px solid transparent;border-left: 8px solid transparent;border-top: 0 dotted;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}

.alert-box-special{left:38%; top:40px; width:62%;}
/*
* 插件
*/
.branch-tab{ width:100%; position:absolute; top:0px; left:100%;  z-index:9002; display:none;z-index:1003;}
.branch-tab-info{ width:100%; background:#f3f3f3;  float:left; padding:0 0 20px 0;}
.branch-tab .header-menu-box{ z-index:9002;}
.branch-tab .header-menu{ z-index:9002;}
.branch-tab-info{ width:100%; background:#f3f3f3;  float:left; padding:0 0 20px 0;}
.branch-tab-title{ height:44px; line-height:44px; font-size:1.8rem;padding:0 10px; color:#e73628; float:left;}
.branch-tab-item{ width:100%; float:left;margin:5px 0;}
.branch-tab-item .item-hot-list{ width:100%; float:left; padding:5px; background-color:#FFF;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.branch-tab-item .item-hot-list a{ color:#505050; padding:0 4%; line-height:24px;}
.branch-tab-item .item-title{background-color:#FFF;height:40px; line-height:40px; padding:0 15px; cursor:pointer;}
.branch-tab-item .item-title span{ font-size:1.7rem; color:#505050; float:left;}
.branch-tab-item .item-title i{background:url(../image/icon.png) no-repeat; width:7px; height:14px; background-position:0px -24px; float:right; margin:14px 3px 0 0;}
.branch-tab-item .item-title-sel span{ color:#f5a237;}
.branch-tab-item .item-title-sel i{ width:14px; height:7px; margin:17px 0 0 0; background-position:-7px -24px;}
.branch-tab-item .item-list{ width:100%; padding:5px; border-top:1px solid #ccc;}
.branch-tab-item .item-list a{ color:#505050; padding:0 4%; line-height:24px; float:left;}
.branch-tab-item .item-title span{ width:90%; float:left;white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url("ellipsis.xml#ellipsis";);overflow:hidden;}
.branch-tab-item .item-title .span-cheched { color:#ff8400; font-weight:normal; } 
.branch-tab-item .item-title .i-cheched{ width:14px; height:7px; background-position:-7px -24px; float:right; margin:18px 0 0 14px;}

/*
* Common dialog css
*/
.body-shadow{ position:fixed; z-index:9902; top:0px; left:0px; width:100%; background-color:#000;filter:alpha(opacity=50);opacity:0.50;-moz-opacity:0.50; display:none; height:100%;}
.success-dialog{ position:fixed; z-index:9999; top:-200px; width:90%; left:5%; border-radius:5px; padding:15px 5% 15px 5%; background-color:#000; background:url(../image/bg_gray.png) repeat; display:none;}
.success-dialog .show-title{ color:#92be3e; font-size:1.8rem; line-height:30px;}
.success-dialog .show-info{ margin-top:10px;margin-left:10px; color:#ffffff; line-height:20px;}
.success-dialog .button{ float:left;margin:20px 0px 0px 5%;border-radius:5px;font-size:1.6rem; padding:8px 0;} 
.success-dialog .close-dialog{ background:url(../image/icon.png) no-repeat; width:35px; height:35px; background-position}


.app_dialog{ width:100%; height:315px;position:fixed; top:-300px; z-index:9999;}
.app_dialog_info{ background:url(../image/app_dialog_bg.png) no-repeat; width:280px; height:315px;position:relative; margin:0 auto;}
.app_dialog_info .close-dialog{ background:url(../image/icon.png) no-repeat; width:34px; height:34px; background-position:-461px 0; position:absolute; right:-10px; top:-10px; display:none;}
.app_dialog_info .show_button{ width:200px; padding:170px 0 0 42px;}
.app_dialog_info .show_button a{ float:left; width:200px; height:40px; float:left;text-decoration:none;}

.app_dialog_info .btn_download_02{ background:url(../image/btn_download_2.png) no-repeat;}
.app_dialog_info .show_button a:hover,.app_dialog_info .show_button a:active{filter:alpha(opacity=70);opacity:0.70;-moz-opacity:0.70;}
.app_dialog_info .btn_close_dialog:hover,.app_dialog_info .btn_close_dialog:active{filter:alpha(opacity=70);opacity:0.70;-moz-opacity:0.70;}
.app_dialog_info .btn_view{ margin:20px 0 0 0; font-size:1.6rem; color:#bcbcbc; text-align:center;}
.abs{position: absolute;z-index: 9999;right: 100px;top: 235px;}
.abs a{color:#ccc;}


/*
* Assess
*/
.assess-form{ width:100%; padding:0 10px; float:left;}
.assess-form ul{margin:0px;padding:0px;}
.assess-form .form-li{ width:89%; border:1px solid #ccc; border-radius:3px; padding:10px 0; float:left; margin:10px 0 0 0; position:relative;}
.assess-form .form-key{ width:29%; padding:0 3% 0 0;  height:30px; line-height:30px; float:left; text-align:right;}
.assess-form .form-value{ width:68%; float:left; border-left:1px solid #ccc; padding:0 3%; position:relative;line-height:30px; color:#797979;}
.assess-form .input-text{ background:none; border:none; color:#333; width:100%; height:30px; line-height:30px; padding:0px;}
.assess-form .form-value .input-text-02{background:none; border:none; color:#333; width:90%; height:30px; line-height:30px;float:left;padding:0px;margin:0px;}
.assess-form .form-value .input-text-03{background:none; border:none; color:#333; width:75%; height:30px; line-height:30px;float:left;padding:0px;margin:0px;}
.assess-form .form-value .form-other{ float:right; color:#333;}
.assess-form .form-value .select-name{ line-height:30px; width:100%; cursor:pointer;color:#333; float:left;}
.assess-form .form-value .select-name span{color:#7f7f7f;}
.assess-form .form-value .selectedValue{ width:90%; float:left;}
.assess-form .form-salary{ display:none;}
.assess-form .form-value .icon-arrows{background:url(../image/icon.png) -43px -18px no-repeat; width:13px; height:12px; float:right; margin:10px 0 0 0;}
.assess-form .form-value .am-dropdown-content{ top:35px; right:auto; width:100%; border-radius:5px; left:0px; position:absolute;}
.assess-form .form-value .am-dropdown-content a{ font-size:1.3rem;}
.assess-form .form-value .am-dropdown-content:before{left:10%;}
.assess-form .form-value-special{ width:50%;float:left; padding:0 0 0 5%; position:relative;line-height:30px; color:#797979;}
.assess-form .form-value-special .selectedValue{ width:80%; float:left;}
.assess-form .alert-box-month{ width:95%; text-align:center;}
.assess-form .form-doubt{ position:absolute; left:104%; top:13px;}
.assess-form .form-doubt .doubt-info{ width:280px; background:#FFF; border:1px solid #ccc; padding:10px 0; position:absolute;left:-250px; top:40px; z-index:4; border-radius:5px; display:none;}
.assess-form .form-doubt .doubt-info:before {content: "";position: absolute;top: -8px;left:auto;right:10px;display: inline-block;width: 0;height: 0;vertical-align: middle;border-bottom: 8px solid #CCC;border-right: 8px solid transparent;border-left: 8px solid transparent;border-top: 0 dotted;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}
.assess-form .form-doubt .doubt-info .show-title{ width:100%; float:left; font-size:1.6rem; color:#797979; float:left; margin:0 0 5px 0; padding:0 5%;}
.assess-form .form-doubt .doubt-info .show-info{ width:100%; float:left; font-size:1.4rem; line-height:20px; float:left; padding:0 5%; color:#a0a0a0;}
.assess-form .form-doubt .doubt-info .text-01{ float:left; }
.assess-form .form-doubt .doubt-info .text-02{ float:left; width:85%;}
.icon-doubt{background:url(../image/icon.png) -299px 0px no-repeat; width:25px; height:25px; float:left;}

/*
* Reg
*/
.color-gray{ background-color:#f3f3f3;}
.reg-treaty{ width:100%; float:left; margin:10px 0 0 0; text-align:center;}
.reg-treaty #RegTreatyCk{ background:#CCC;}
.reg-treaty label{ font-weight:normal; font-size:1.6rem; margin:0 0 0 5px; color:#797979;}
.reg-treaty a{ color:#92be3e;}

/*
* DetailApply
*/

#DetailApplyTabs .am-tabs-nav li{ width:50%; background:#F5F5F5; height:51px;}
#DetailApplyTabs .am-tabs-nav li a{ height:48px; line-height:48px; padding:0;}
#DetailApplyTabs .am-tabs-nav .am-active a{background:#F5F5F5;}
.auto-tip{ background:#FFF; border:1px solid #ccc; border-radius:5px;}
.auto-tip li {width:100%;height:30px;line-height:30px;font-size:14px;}
.auto-tip li.hoverBg {background:#ddd;cursor:pointer;}
.auto-tip li span{ margin:0 0 0 5px;}
.auto-tip li em{ font-style:normal;}
.red {color:#333;}
.hidden {display:none;}

/*
* Upload
*/
.upload-info{ width:100%; padding:0 10px; float:left;}
.upload-title{ width:100%; float:left; padding:10px 0 0 0;}
.upload-title i{ background:url(../image/icon.png) 0px -73px no-repeat; width:14px; height:16px; float:left; margin:4px 5px 0 0;}
.upload-title span{ color:#888887; float:left; font-size:1.5rem;}

.upload-list{ width:100%; float:left;}
.upload-list ul{margin:0px;padding:0px;}
.upload-list .upload-li{ width:100%; border:1px solid #ccc; border-radius:3px; padding:10px 0; float:left; margin:10px 0 0 0; position:relative;}
.upload-list .upload-key{ width:16%; padding:0 3%;  height:30px; line-height:30px; float:left; text-align:center;}
.upload-list .upload-value{ width:84%; float:left; border-left:1px solid #ccc; padding:0 3%; position:relative;line-height:30px; color:#797979;}
.upload-list .upload-key i{ background:url(../image/icon.png) no-repeat; width:23px; height:22px; display:inline-table; margin:5px 0 0 0;}
.upload-list .upload-key .icon-idCard{ background-position:-14px -73px;}
.upload-list .upload-key .icon-entrust{ background-position:-37px -73px;}
.upload-list .upload-key .icon-photo{ background-position:-60px -73px;}
.upload-list .upload-key .icon-accounts{ background-position:-83px -73px;}
.upload-list .upload-key .icon-card{ background-position:-106px -73px;}
.upload-list .upload-key .i-sel{ background-position:-87px -95px;}
.upload-list .upload-value b{ color:#797979; float:left; font-weight:normal;}
.upload-list .upload-value i{background:url(../image/icon.png) -395px 0px no-repeat; width:22px; height:22px; float:right; margin:5px 0 0 0;}
.upload-list .upload-value .i-sel{background:url(../image/icon.png) -439px 0px no-repeat; width:22px; height:22px; float:right; margin:5px 0 0 0;}
.upload-list .upload-alert{ color:#F00; font-size:1.5rem; padding:10px 0; float:left;}

.upload-alert-title{ width:100%; float:left; padding:5px 10px; background:#7a7a7a; color:#FFF;}
.upload-alert-title span{ color:#8abe25;}
.upload-example{ width:100%; margin:20px 0 0 0; float:left; text-align:center;}
.example-photo-box{width:100%; padding:0 15%; float:left;}
.example-photo{ border:1px solid #ccc; width:100%; float:left; border-radius:5px; text-align:center; position:relative;z-index:1002;}
.example-photo .photo-info{ padding:20px 30px; color:#797979; font-size:2.0rem; display:inline-table;}
.example-photo .btn-add{background:url(../image/icon.png) 0px -95px no-repeat; width:34px; height:34px; position:absolute; right:-15px;bottom:-15px; z-index:1002;}
.example-other{ width:80%; float:left; border-bottom:1px solid #ccc; position:relative; height:35px; margin:0 10%;}
.example-other .btn-example{background:url(../image/icon.png) -156px -40px no-repeat; width:78px; height:31px; position:absolute; text-align:center; line-height:31px; color:#FFF;left:0px; top:18px;}

.photo-dialog{ width:94%; margin:0 3%; padding:10px 15px; float:left; background:url(../image/bg_shadow.png) repeat; position:fixed; top:25%; z-index:2004;left:100%;}
.photo-dialog .photo-close{background:url(../image/icon.png) -34px -95px no-repeat; width:29px; height:29px; position:absolute; right:-10px; top:-10px;}
.photo-dialog .photo-prev{background:url(../image/icon.png) -63px -95px no-repeat; width:12px; height:24px; position:absolute; left:2%; top:100px;}
.photo-dialog .photo-next{background:url(../image/icon.png) -75px -95px no-repeat; width:12px; height:24px; position:absolute; right:2%; top:100px;}
.photo-dialog .photo-title{padding:10px 0; width:100%; text-align:center; color:#FFF; float:left;}
.photo-dialog .photo-page{ width:100%; float:left; text-align:center; color:#FFF;}
.photo-dialog-info{overflow:hidden; padding:0 30px 20px 30px; margin:0 auto;}
.photo-dialog-info ul{ margin:0; padding:0; float:left; width:99999px; position:relative; }
.photo-dialog-info li{ float:left; position:relative;}
.photo-dialog-info li img{ float:left;}
.photo-dialog-info li i{ background:url(../image/icon.png) no-repeat; width:56px; height:56px; position:absolute; bottom:-20px; left:-20px;}
.photo-dialog-info li .icon-right{ background-position:0px -129px;}
.photo-dialog-info li .icon-wrong{ background-position:-56px -129px;}
.photo-dialog-idCard{ width:272px;}
.photo-dialog-idCard li{ width:272px;}
.photo-dialog-photo{ width:256px;}
.photo-dialog-photo li{ width:256px;}
/*
* Upload File
*/
.upload-file{ width:100%; float:left; padding:10px 10px 100px 10px;}
.upload-btn-box{ width:100%; float:left;}
.upload-btn-box .upload-photo-btn{ width:24%; margin:0 1% 10px 0; float:left; padding:15px 0; border:1px dashed #ccc; border-radius:5px; text-align:center;}
.upload-btn-box .upload-photo-file{ display:none;}
.upload-photo .am-btn{ position:fixed; bottom:10px;left:0;width:96%; left:2%;}


/*
* Upload Bank
*/

.upload-bank-title{ padding:10px 0; width:100%; float:left;}
.upload-bank-title span{ width:100%; padding:10px 0 15px 0; border-bottom:1px solid #ccc; float:left; text-align:center; font-size:2.0rem;}

.upload-example-select{width:100%; float:left;}
.upload-example-select ul{margin:0px; padding:0px;}
.upload-example-select li{width:100%; float:left; margin:10px 0 40px 0;}
.upload-example-select .example-key{ width:30%; float:left; text-align:center; color:#ff6357; font-size:1.8rem;}
.upload-example-select .example-value{ border:1px solid #ccc;  float:right; border-radius:5px; text-align:center; position:relative;z-index:1002; margin:0 4% 0 0;}
.upload-example-select .example-value .bank-info{color:#797979;padding:10px 10px; font-size:1.8rem; display:inline-table;}
.upload-example-select .example-value .btn-add{background:url(../image/icon.png) 0px -95px no-repeat; width:34px; height:34px; position:absolute; right:-15px;bottom:-15px; z-index:1002;}

/*
* Upload Step
*/
.upload-step{ width:100%; float:left; padding:0 30px;}
.upload-step-title{ width:100%; float:left; padding:15px 0; text-align:center; color:#f5ba1e; font-size:1.8rem;}
.icon-step-arrows{ width:100%; float:left; text-align:center; padding:10px 0;}
.icon-step-arrows i{ background:url(../image/icon.png) -109px -95px no-repeat; display:inline-table; width:12px; height:17px;}
.btn-white{ -moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 2px;cursor: pointer;display: inline-block;font-size: 1.8rem;font-weight: 400;line-height: 1.2;margin-bottom: 0;padding: 0.625em 0;text-align: center;transition: width 0.15s ease 0s;vertical-align: middle;white-space: nowrap;width:100%;background-color: #FFF;border-color: #d3d3d3;color: #969595;}
.btn-green{ -moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 2px;cursor: pointer;display: inline-block;font-size: 1.8rem;font-weight: 400;line-height: 1.2;margin-bottom: 0;padding: 0.625em 0;text-align: center;transition: width 0.15s ease 0s;vertical-align: middle;white-space: nowrap;width:100%;background-color: #9ECC45;border-color: #9ECC45;color: #FFF;}
.btn-green a{ background:#FFF; font-size:1.6rem; color:#9ECC45; text-align:center;padding: 0.4em 10px; border-radius:5px; margin:0 0 0 10px;}

/*
* Feedback
*/
.feedback-content{ width:100%; float:left; padding:20px 10px;}
.feedback-form{ width:100%; float:left; }  
.feedback-form ul{margin:0px;padding:0px;}
.feedback-form .form-li{ width:100%; border:1px solid #ccc; border-radius:3px; padding:10px 0; float:left; margin:10px 0 0 0;}
.feedback-form .form-key{ width:35%; padding:0 3%; border-right:1px solid #ccc; height:30px; line-height:30px; float:left; text-align:right;}
.feedback-form .form-value{ width:65%; float:left; padding:0 3%; position:relative;line-height:30px; color:#797979;}
.feedback-form .input-text{ background:none; border:none; color:#333; width:100%; height:30px; line-height:30px;}
.feedback-form .feedback{position: relative;}
.feedback-form .feedback .alert-box{ width:90%; left:5%;bottom:-30px; top:auto;}
.feedback-form .feedback-text{ width:100%; border:1px solid #ccc; border-radius:3px; padding:10px 10px 20px 10px; color:#333; line-height:20px; min-height:150px;-height:150px;}
.feedback-form .feedback-alert{ position:absolute;left:auto; right:10px;bottom:0px; text-align:right; font-size:1.4rem; width:100%; color:#c0c0c0;}

/*
* Partner
*/
.partner-info{ width:100%; padding:0 10px; float:left;}
.partner-info a{ border:1px solid #ccc; float:left; width:100%; text-align:center; margin:10px 0; padding:8px 0;}
.partner-info a img{  width:100%; max-width:258px;}
.partner-info .col-sm-6{ padding:0 0.5rem;}

/*
* Product Detail
*/
.product-detail{ width:100%; float:left;}
.product-detail-banner{ width:100%; float:left; margin:0px 0 0 0; text-align:center; position:relative; background:url(../image/bg_shadow.png) repeat;}
.product-detail-banner2{ width:100%; float:left; margin:0px 0 0 0; text-align:center; position:relative;}
.product-detail-banner a{ text-align:center;}
.product-detail-banner a img{ width:100%;}
.product-detail-banner .product-banner-close{background:url(../image/btn_close.png) no-repeat; position:absolute; z-index:1004; width:30px;height:26px; right:0; top:0px;}
.product-about{ width:100%; border:1px solid #ccc; border-radius:6px; float:left; margin:0 0 20px 0;}
.product-about .show_title{ width:100%; float:left; height:38px;font-size:16px;color:#FFF; text-align:center; line-height:38px;background:#9ecc45;border-radius:5px 5px 0 0;}
.product-about .show_info{ padding:10px; float:left; width:100%;}
.product-about .show_info .show_text{ line-height:20px;  color:#8d8d8d;}
.product-about .show_info .show_text .p_name{ font-weight:normal;  color:#fb6e62;}
.product-about .show_info .show_about{ background-color:#f6f6f6; margin:10px 0;padding:10px 10px; float:left; width:100%;}
.product-about .show_about ul{ width:100%; padding:0px; margin:0px;}
.product-about .show_about li{ line-height:20px;font-size:12px;  padding:5px 0; border-bottom:1px solid #ccc; width:100%; float:left; list-style:none;}
.product-about .show_about li .info_icon{ width:18%;height:30px; text-align:center;float:left; margin:10px 0 0 0; }
.product-about .show_about li .info_icon img{ width:100%; max-width:26px;}
.product-about .show_about li .info_other{ width:82%; float:left; padding:0 0 0 2%;}
.product-about .show_about li .info_title{ width:100%;height:25px; font-size:16px; color:#545454;float:left; line-height:25px; }
.product-about .show_about li .info_text{ width:100%;font-size:14px; color:#9c9c9c; float:left;}
.product-alert{ font-size:1.6rem; color:#f8ad4d; width:100%; text-align:center; padding:10px 0;}
.product-text-tab{ width:100%; float:left; border-radius:5px; border:1px solid #ccc;}
#ProductDetailTabs .am-tabs-nav li{ width:33.3333%;}
#ProductDetailTabs .am-tabs-bd .am-tab-panel{padding:10px 5px;}
.product-detail-text{ width:100%; float:left;}
.product-detail-text .show-title{ width:100%;  float:left; line-height:30px; font-size:1.8rem; color:#9ec84b; padding: 0 5px;}
.product-detail-text .title-border{ border-bottom:none;}
.product-detail-text .show-info{ line-height:20px; color:#8d8d8d; width:100%; float:left; padding:5px 5px 20px 5px;}
.product-detail-text .show-list{ width:100%; float:left; padding:0 5px 20px 5px;}
.product-detail-text .show-list ul{ margin:0px; padding:0px;}
.product-detail-text .show-list li{ width:100%; float:left;padding:5px 0;}
.product-detail-text .show-icon{ text-align:center; padding:0 2%;  float:left; width:7%; vertical-align:middle;}
.product-detail-text .show-icon img{width:100%; float:left; margin:6px 0 0 0; max-width:8px;}
.product-detail-text .show-text{ width:90%; float:left; line-height:20px;color:#8d8d8d;}
.product-detail-text .show-condition{ width:100%; float:left; padding:20px 0 100px 0;}
.product-detail-text .show-condition table{width:100%; margin:0px; padding:0px;}
.product-detail-text .show-condition .w20{ width:20%; text-align:center; padding:0 1rem;}
.product-detail-text .show-condition .w40{ width:40px; text-align:center; padding:0 1rem;}
.product-detail-text .show-condition .w40 img{ width:100%; max-width:185px;}
.product-detail-text .show-condition .w20 .icon-condition-arrows{ width:100%; max-width:49px; margin:-30px 0 0 0;}
.product-detail-text .show-condition .w40 .icon-condition-arrows-02{width:40%;max-width:49px; margin:13% 0 13% 20px;}
.product-detail-text .show-condition .fSize16{margin:0 0 0 20%;line-height:30px;color:#8d8d8d; width:80%; float:left;}

.hiden-apply-btn{ background:url(../image/bg_gray.png) repeat; position:fixed; bottom:0px;width:100%; z-index:8001; display:none;}
.hidden-apply-info{ width:100%; float:left; padding:10px;}
.hidden-apply-text{ color:#ffcc73; text-align:center; margin:0px; padding:0;}

/*
* Condition
*/
.condition-tab{ width:100%; background:#f5f5f5; border-bottom:1px solid #ccc; height:44px; line-height:44px; float:left; position:relative;}
.condition-tab b{ width:30%; line-height:42px; border-bottom:2px solid #f87065; color:#f36f64; position:absolute; padding:0 5%; text-align:center;}
.condition-info{ width:96%; float:left; margin:10px 2%;}
.condition-info table{ width:100%;}

/*
* More
*/
.upload-list .upload-key i{ width:22px; height:22px;}
.upload-list .upload-key .icon-help{ background-position:-129px -73px;}
.upload-list .upload-key .icon-feedbook{ background-position:-151px -73px;}
.upload-list .upload-key .icon-about{ background-position:-173px -73px;}
.upload-list .upload-key .icon-edit{ background-position:-195px -73px;}
.upload-list .upload-key .icon-logout{ background-position:-218px -73px;}


/*
* Flow
*/
.flow-info{ width:100%; float:left; padding:0 10px;}
.flow-info .show-flow{ width:100%; float:left; padding:20px 0;}
.flow-info .show-flow table{width:100%; margin:0px; padding:0px;}
.flow-info .show-flow .w20{ width:20%; text-align:center; padding:0 1rem;}
.flow-info .show-flow .w40{ width:40px; text-align:center; padding:0 1rem;}
.flow-info .show-flow .w40 img{ width:100%; max-width:185px;}
.flow-info .show-flow .w20 .icon-condition-arrows{ width:100%; max-width:49px; margin:-30px 0 0 0;}
.flow-info .show-flow .w40 .icon-condition-arrows-02{width:40%;max-width:49px; margin:20% 0 20% 20px;}
.flow-info .show-flow .fSize16{line-height:30px;color:#8d8d8d; margin:0 0 0 20%; width:80%; float:left;}

/*
* About
*/
.about-info{ width:100%; float:left; padding:10px}
.about-item{ width:100%; float:left; border:1px solid #ccc; border-radius:6px; float:left; margin:0 0 20px 0;}
.about-item .show_title{ width:100%; float:left; height:38px;font-size:1.8rem; color:#FFF; text-align:center; line-height:38px;background:#9ecc45;border-radius:5px 5px 0 0;}
.about-item .show_info{ padding:10px; float:left; width:100%; padding:10px 0;}
.about-item .show_info .show_text{ line-height:20px;color:#8d8d8d; padding:0 10px;}
.about-item .show_text .p_name{ font-weight:normal; color:#fb6e62;}
.about-item .show_text_list{padding:0 5px; float:left;}
.about-item .show_text_list ul{ width:100%; padding:0;margin:0px;}
.about-item .show_text_list li{width:100%; padding:5px 0; float:left;list-style:none;}
.about-item .show_text_list li .c-icon{ text-align:center; padding:0 2%;  float:left; width:7%; vertical-align:middle;}
.about-item .show_text_list li .c-icon img{width:100%; float:left; margin:6px 0 0 0; max-width:8px;}
.about-item .show_text_list li .c-text{width:90%; float:left; line-height:20px;color:#8d8d8d; font-size:1.5rem;}
.about-item .contact_text{ line-height:20px; padding:0 10px; color:#808080; font-size:1.5rem;}
.about-item .contact_text a{ color:#FFA838; text-decoration:underline;}
.about-item .contact_text span{color:#8d8d8d;}
.about-item .acceptance_text{ width:100%; border-top:1px solid #ccc; padding:5px 0; margin:5px 0; font-size:16px;}
.about-item .acceptance_text b{ color:#4f4f4f;  font-size:1.5rem;}
.about-item .acceptance_text span{ color:#fb6e62;  font-size:1.4rem;}


/*
* Help
*/
.help-list{ width:100%; float:left; padding:10px;}
.help-list ul{ margin:0px; padding:0px;}
.help-list li{border:1px solid #ccc; border-radius:3px; margin:0 0 12px 0;float:left; width:100%;list-style:none;}
.help-list li .help-title{  cursor:pointer; width:100%; padding:0 4%; float:left;}
.help-list li .title-name{ width:88%; line-height:20px; font-size:16px; color:#797979; display:inline-block;  float:left; padding:10px 0;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url("ellipsis.xml#ellipsis");}
.help-list li .title-icon{ width:10%;height:40px; margin:0 0 0 2%; float:right;}
.help-list li .title-icon i{ background:url(../image/icon.png) -395px 0px no-repeat; width:22px; height:22px; float:right; margin:10px 0px 0 0px; }
.help-list li .help-info{ border-top:1px solid #ccc; line-height:20px; font-size:14px; color:#959595; margin:0 0 0 3%; text-indent:23px; display:none; width:92%; float:left; padding:10px 1%;}
.help-list li .help-info a{ color:#fa7166; font-size:14px;}
.help-list li .help-info img{ width:100%;}
.help-list .li-sel .title-icon i{ background:url(../image/icon.png) -417px 0px no-repeat; }
.help-list .li-sel .title-name{overflow:visible; white-space:inherit;text-overflow:none;text-overflow:none;-ms-text-overflow:none;-o-text-overflow:none;-moz-binding:none;}

/*

/*
* MyLoan
*/
#MyLoanTabs .am-tabs-nav li{ width:25%;}
#MyLoanTabs .am-tabs-nav li a{ font-size:1.5rem;}
#MyLoanTabs .am-tabs-bd .am-tab-panel{padding:10px 5px;}
.myLoan-info{ width:100%; float:left;}
.myLoan-content{ width:100%; padding:0 10px;}
.myLoan-Message{ width:100%; display:none;}
.myLoan-Message .show-icon{ float:left; width:20%; margin:10px 0 0 0; text-align:center;}
.myLoan-Message .show-icon i{ background:url(../image/icon.png) -121px -95px no-repeat; width:30px; height:30px; display:inline-block; }
.myLoan-Message .show-message{ width:70%; padding:10px; float:left; border:1px solid #ccc; border-radius:5px; position:relative;}
.myLoan-Message .show-message i{ position:absolute; background:url(../image/icon.png) 0px -578px; width:14px; height:13px; left:-14px; top:18px;}
.myLoan-Message .show-message span{ color:#9ecc45;}
.myLoan-Message .show-button{ width:100%; float:left; text-align:center; margin:20px 0 0 0;}
.myLoan-Message .show-button .am-btn-green{ padding:0.625em 50px;}

.myLoan-State{ width:100%; padding:0 10px;}
.myLoan-State ul{ padding:0; margin:20px 0; width:100%;}
.myLoan-State li{ width:100%; float:left; margin:10px 0 10px 0;}
.myLoan-State .state-box{ width:100%; padding:0 20px;}
.myLoan-State .state-info{ width:100%; float:left; position:relative; padding:10px; border:1px solid #ccc; border-radius:5px;}
.myLoan-State .state-info .show-photo{ width:20%; text-align:right; float:left;}
.myLoan-State .state-info .show-photo i{ background:url(../image/icon.png) no-repeat; width:46px; height:46px; display:inline-table;}
.myLoan-State .state-info .icon-apply i{ background-position:0px -185px;}
.myLoan-State .state-info .icon-upload i{ background-position:-46px -185px;}
.myLoan-State .state-info .icon-examine i{ background-position:-92px -185px;}
.myLoan-State .state-info .icon-sign i{ background-position:-138px -185px;}
.myLoan-State .state-info .icon-apply .i-sel{ background-position:0px -231px;}
.myLoan-State .state-info .icon-upload .i-sel{ background-position:-46px -231px;}
.myLoan-State .state-info .icon-examine .i-sel{ background-position:-92px -231px;}
.myLoan-State .state-info .icon-sign .i-sel{ background-position:-138px -231px;}
.myLoan-State .state-info .show-text{ width:60%; float:left; border-left:1px solid #ccc; padding:0 0 0 10px; margin:0 0 0 10px;}
.myLoan-State .state-info .show-text b{ color:#545454; font-weight:normal; width:100%; float:left;}
.myLoan-State .state-info .show-text span{ color:#9c9c9c; font-size:1.5rem; width:100%; float:left;}
.myLoan-State .state-info .show-step{ background:url(../image/icon.png) -184px -191px no-repeat; width:40px; height:40px; position:absolute;right:-20px; top:-20px; text-align:center; line-height:40px; color:#FFF; font-weight:bold; font-size:2.4rem;}
.myLoan-State .state-info .show-step-sel{ background-position:-184px -237px;}
.myLoan-State .state-hidden{ width:100%; float:left; margin:10px 0; background:url(../image/bg_shadow.png) repeat; padding:10px; border-radius:5px; position:relative; display:none;}
.myLoan-State .state-hidden:before {content: "";position: absolute;top: -8px;left: 48%;display: inline-block;width: 0;height: 0;vertical-align: middle;border-bottom: 8px solid #000;border-right: 8px solid transparent;border-left: 8px solid transparent;border-top: 0 dotted;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);filter:alpha(opacity=70);opacity:0.70;-moz-opacity:0.70;}
.myLoan-State .state-hidden .show-text{ width:100%; float:left; color:#FFF; margin:15px 0;}
.myLoan-State .state-hidden .show-button{ width:100%; float:left; text-align:center; margin:5px 0 0 0;} 
.myLoan-State .state-hidden .show-button .am-btn-yellow{ padding:8px 40px; border-radius:5px; }
.myLoan-State .state-hidden .state-hidden-close{ background:url(../image/icon.png) -112px -129px no-repeat; width:18px; height:18px; position:absolute; right:10px; top:10px; cursor:pointer;}
.myLoan-State .state-arrows{ width:100%; text-align:center; float:left; margin:15px 0 0 0;}
.myLoan-State .state-arrows i{ background:url(../image/icon.png) -112px -147px no-repeat; width:20px; height:28px; display:inline-table;}

.myLoan-contract{ width:100%;}
.myLoan-contract ul{ margin:20px 0 0 0; padding:0px;}
.myLoan-contract li{ width:100%; float:left; margin:0 0 10px 0; padding:0 10px; line-height:30px;}
.contract-item{ width:100%; float:left; border:1px solid #ccc; border-left:5px solid #9ecc45; border-radius:5px; margin:0 0 20px 0;}
.contract-item .item-key{ width:22%; text-align:right; color:#797979; float:left;border-bottom:1px solid #ccc; font-size:1.2rem;height:30px;}
.contract-item .item-value{ width:28%; color:#cbcaca; float:left;border-bottom:1px solid #ccc; font-size:1.2rem; height:30px;}
.contract-item .item-value .am-btn{ padding:5px 10px; font-size:1.2rem; border-radius:5px; margin:2px 0 0 0;}
.myLoan-contract .noBorder .item-key{ border:none;}
.myLoan-contract .noBorder .item-value{ border:none;}

/*
* ForgetPassword
*/

.forget-form-title{ width:100%; float:left; text-align:center; margin:10px 0 0 0;}
.forget-form .input-checkCode{ background:none; border:none; color:#bfbfbf; width:60%; height:30px; line-height:30px;}
.forget-form .am-btn-send{ float:right; width:40%; border-radius:5px; padding:5px 0;color: #ffffff;background-color: #fdb537;border-color: #fdb537;position:relative;font-size:1.5rem;}
.forget-form .am-btn-none{ color:#000; background-color:#efefef; border:1px solid #efefef;}
.forget-form .form-key{ width:20%;}
.forget-form .form-value{ width:80%;}


/*
* Sing Contract
*/

.contract-content{ width:100%; float:left; padding:0 10px;}
.contract-title{ width:100%; float:left; margin:10px 0;}
.contract-info{ width:100%; float:left; position:relative;}
.contract-ul-prev{ background:url(../image/icon.png) -129px -129px no-repeat; width:10px; height:21px; position:absolute; left:0px; top:90px;}
.contract-ul-next{ background:url(../image/icon.png) -139px -129px no-repeat; width:10px; height:21px; position:absolute; right:0px; top:90px;}
.contract-ul{ width:80%;float:left; padding:0 0 20px 0; overflow:hidden; margin:10px 0 0 10%; border-bottom:1px solid #ccc;}
.contract-ul ul{ margin:0px; padding:0; width:99999px; float:left;}
.contract-ul li{ width:100%; float:left;}
.contract-ul li .show-info{ border:1px solid #ccc; border-radius:5px; margin:0 10%; padding:10px 10%; width:80%; float:left;}
.contract-ul li .show-photo{ width:100%; float:left;border-bottom:1px solid #ccc; padding:0 0 10px 0; text-align:center;}
.contract-ul li .show-photo i{ background:url(../image/icon.png) 0px -277px no-repeat; width:108px; height:120px; display:inline-table;}
.contract-ul li .show-text{ width:100%; float:left; color:#8a8a8a; text-align:center; margin:10px 0 0 0;}
.contract-ul li .show-button{ width:80%; float:left; margin:10px 10% 0 10%;}


/*
* App
*/
.app_recommend{ width:100%; position:fixed; bottom:0px;left:0px; z-index:1002;}
.app_recommend_info{ height:85px; width:100%; float:left;position:relative; z-index:1003; background:url(../image/app_recommend_bg.png) repeat;}
.app_recommend_info .icon_phone{ background:url(../image/icon_iphone.png) no-repeat; position:absolute; z-index:1004; width:28px;height:73px; left:2%; top:5px;}
.app_recommend_info .app_text{ font-size:1.5rem; color:#ffffff; line-height:25px; position:absolute; left:13%; z-index:1004; top:10px; width:50%;}
.app_recommend_info .app_text b{ color:#ffde00; font-weight:bold; padding:0 5px;}
.app_recommend_info a{ text-decoration:none;}
.app_recommend_info .btn_download{ background:url(../image/btn_download.png) no-repeat; position:absolute; z-index:1004; width:94px; height:32px; right:6%; top:40px;}
.app_recommend_info .btn_close{ background:url(../image/btn_close.png) no-repeat; position:absolute; z-index:1004; width:30px;height:26px; right:0; top:0px;}
.app_recommend_info .btn_download:hover,.app_recommend_info .btn_download:active{filter:alpha(opacity=70);opacity:0.70;-moz-opacity:0.70;}
.app_recommend_info .btn_close:hover,.app_recommend_info .btn_close:active{filter:alpha(opacity=70);opacity:0.70;-moz-opacity:0.70;}


/*download*/

.header-download{ padding:0 10px; float:left; width:100%; background:#e73628;} 
.header-download .show-icon{ width:15%; text-align:center; float:left;}
.header-download .show-icon a{ color:#FFF; padding:5px 0; display:inline-block;}
.header-download .show-icon a img{ width:100%; padding:0 10px; width:41px;}
.header-download .show-text{ width:70%; float:left; text-align:center;}
.header-download h1{ font-size:2.0rem; font-weight:normal; color:#FFF; margin:15px 0 0 0; padding:0;}
.header-download .touchSel{ background:none;}

.download-info{ width:100%; float:left;}
.download-info .show-banner{ width:100%; float:left; text-align:center;}
.download-info .show-info{ width:100%; text-align:center; padding:20px 0; float:left;}


/*
* Ad
*/
.banners-ad{ width:100%; float:left; margin:10px 0 0 0; text-align:center;}
.banners-ad img{ }
.tel-ad{ width:100%; float:left; padding:10px 15px 6px 15px; background:#f9f9f9; border-bottom:1px solid #ebebeb;-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,.125);box-shadow:inset 0 1px 5px rgba(0,0,0,.125)}
.tel-ad a{ width:100%;color:#e16954; float:left;vertical-align:top; padding:0 0 0 10px; }
.tel-ad .show-icon{ background:url(../image/icon.png) 0 -399px no-repeat; width:20px; height:30px; display:inline-table; margin:0px 10px 0 0;}
.tel-ad .show-text{ font-size:1.7rem; color:#e16954; display:inline-table; vertical-align:top;}

.simple-apply{ width:100%; float:left; margin:10px 0 0 0;}
.simple-apply-title{ width:100%; float:left; border-bottom:3px solid #9ecc45; position:relative;height:22px;margin:10px 0 20px 0;}
.simple-apply-title span{ background:#9ecc45; padding:6px 15px; font-size:1.8rem; color:#FFF; border-radius:25px; position:absolute;top:0px; left:15px;}

.simple-apply-step{ background:#f8f8f8;}
.simple-step-box{ width:350px; margin: 0 auto;}
.simple-apply-step i{ background:url(../image/icon.png) no-repeat; width:11px; height:14px;margin:5px 3px 0 3px; float:left;}
.simple-apply-step .icon-one{ background-position:-20px -399px;}
.simple-apply-step .icon-two{ background-position:-31px -399px;}
.simple-apply-step .icon-three{ background-position:-42px -399px;}
.simple-apply-step .icon-step-arrows{ background-position:-53px -399px;}
.simple-apply-step span{ color:#a0a0a0; font-size:1.4rem; float:left;}
.step-esd i{ margin:2px 2px;}
.step-esd span{ font-size:12px;}
.step-esd-new span{ font-size:1.4rem;}

.simple-apply-alert{ width:100%; float:left; margin:10px 0; text-align:center; color:#f45337;}

.regard-about{ width:100%;float:left;}
.regard-about-content{ width:100%; margin:0 auto; max-width:640px;}
.regard-about-title{ width:100%;}
.regard-about-info{ width:100%; background-color:#f7f7f7; padding:0 15px; display:inline-table;}
.regard-about-info .show-text{ width:100%; color:#797979; float:left;}
.regard-about-info .show-text span{ color:#f45337;}
.regard-about-info .show-info{ width:100%; margin:10px 0; float:left;}
.regard-about-info .show-info ul{ width:100%; padding:0px; margin:0px;}
.regard-about-info .show-info li{ width:100%;float:left; padding:8px 0;}
.regard-about-info .show-info .show-icon{ text-align:center; padding:0 1%;  float:left; width:5%; vertical-align:middle;}
.regard-about-info .show-info .show-icon img{width:100%; float:left; margin:6px 0 0 0; max-width:8px;}
.regard-about-info .show-info .show-about{ width:30%; float:left; padding:0 2%; height:20px; line-height:20px; color:#545454;}
.regard-about-info .show-info .show-describe{ width:65%; float:left; line-height:20px; color:#9c9c9c;line-height:20px;}
.regard-about-info .show-info .show-describe span{ color:#f45337;}

.root-ad{ width:100%; border-top:3px solid #e16954; text-align:center; padding:10px 0 50px 0; float:left;color:#ffb24f;}
.root-ad a{ color:#ffb24f; font-size:0.8rem;}
.root-ad span{ color:#ffb24f; }

.root-ad span a{ font-size:10px; color:#CCCCCC;}

/*404error*/
.error-info{ width:100%; float:left; padding:0 10px;}
.error-info .show-photo{ width:100%; float:left; text-align:center;}
.error-info .show-photo img{ width:100%; max-width:640px;}
.error-info .show-text{ width:100%; float:left; text-align:center; color:#393939;}
.error-info .show-text p{ color:#09855b;}

.branch-tab-item .item-list a{ color:#505050; padding:0 4%; line-height:24px; word-break: keep-all; white-space: nowrap;}

.font_01{font-size: 18px;font-weight: bold;}
.font_02{font-size: 14px;line-height: 25px;color: #595757;}


/*1119 FFY ADD*/
.tel-dialog .am-modal-btn:hover{ color:#717171;}

.product-box{ padding:20px 10px; width:100%; float:left;}

/*
* Contact
*/
.contact-table { width:100%;}
.contact-table td{ padding:2px 5px;}
.contact-table .td-name{ width:90px; text-align:right; vertical-align:top; padding:2px 0;}

/*float-css*/
.box-fixed-top{top: 0;left: 0;position: fixed;width: 100%;z-index: 1002;}
.box-fixed-bottom{bottom: 0;left: 0;position: fixed;width: 100%;z-index: 1002;}
.box-fixed-center{top: 20%;position: fixed;width: 100%;z-index: 9999;}
.text-center{text-align:center;}
.red{color:#e73628; }  

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none !important;
margin: 0;
}

.ad01-header-menu .info-prev{  height:53px;position:absolute;  z-index:1002;}
.ad01-header-menu .info-prev a{padding:15px 20px 15px 10px; float:left;}
.ad01-header-menu .info-prev .icon-prev{background:url(../image/icon.png) 0 0 no-repeat; width:15px; height:24px; float:left;}
.ad01-header-menu{ width:100%; text-align:center;background:#F06DA3;}
.ad01-header-menu img{ width:100%; max-width:340px;}
.ad01-btn-apply{width:100%;display:inline-block;text-align:center;background:#F06DA3;clear:both;margin:20px 0 3px 0;}
.ad01-btn-apply img{width:100%;max-width:330px;}


.am-g{margin:0 auto;width:100%}.am-g:before,.am-g:after{content:" ";display:table}.am-g:after{clear:both}.am-g.am-g-collapse .am-col,.am-g.am-g-collapse [class*=col-]{padding-left:0;padding-right:0}.am-g .am-g{margin-left:-1rem;margin-right:-1rem;width:auto}.am-g .am-g.am-g-collapse{margin-left:0;margin-right:0}.am-g-fixed{max-width:1000px}.am-col,[class^=col-]{width:100%;padding-left:1rem;padding-right:1rem;float:left;position:relative}@media only screen and (min-width:641px){.am-g .am-g{margin-left:-1.5rem;margin-right:-1.5rem}


